#navbar.navbar.navbar-inverse
  .fixed-container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#home')
        span.glyphicon.glyphicon-fire
        | Infernal Engineering
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='#services')
            i.fa.fa-cog
            | Services
        li
          a(href='#work')
            span.glyphicon.glyphicon-briefcase
            | Work
        li
          a(href='#contact')
            i.fa.fa-comments
            | Contact