html, body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  height: 100%;
}

.clearfix {
  clear: both;
}

.affix {
  top: 50px;
}

.fixed-container {
  margin-left: 5%;
  margin-right: 5%;
}

.fixed-container.full { 
  margin: 0;
}
.fixed-container .row [class^='col-md-'] {
  margin-bottom: 50px;
}

ul { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

h1 {
  display: inline-block;
  margin: 0 0 30px 0;
  font-size: 30px;
  padding-bottom: 5px;
}

h1:hover {
  border-color: #72a329;
}

h3 { 
  color: rgba(255,255,255, .7); 
  font-size: 14px;
  line-height: 32px; 
  margin: 0 0 15px 0;
  letter-spacing: .5px;
}

hr {
  border-color: #999;
  margin: 10px 0;
}

a {
  color: #ffde36;
}
a:hover {
  color: #edc80e;
  text-decoration: none;
}
.italic { font-style: italic; }

.tooltip.top {
  margin-top: -5px;
}

#services .tooltip.top {
  margin-top: -10px;
}

.btn {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  margin: 0 10px 10px 10px;
  text-shadow: none;
  box-shadow: none;  
  background: none;
  border: 2px solid rgba(255,255,255,.6);
  color: rgba(255,255,255,.8);
  background-color: transparent;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-transition: .3s;
  transition: .3s;
}

.btn:hover {    
  border-color: #fff;
  color: #fff;
}

.btn:active {
  top: 2px;
}

.btn.active {
  background-color: rgba(0,0,0,.1);
  border-color: #fff;
  color: #fff;
}

.btn:focus {
  color: #fff;
  outline: none;
}
  
input,
textarea,
input.form-control,
textarea.form-control,
input.form-control:focus,
textarea.form-control:focus {
  outline: none;
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-color: #d0d0d0;
}
form .btn {
  margin-left: 0;
  margin-right: 0;
}
label {
  font-weight: normal;
}

.form-control:focus {
  box-shadow: none;
  border-color: #777;
}

.row .empty[class^='col-md-'] {
  margin-bottom: 0;
}
  
/* Basic Modal Styles */
.modal {
}

.modal .wrapper {
  margin: 3% auto;
  width: auto;
  max-width: 70%;
  max-height: 85%;
}
.modal img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
.modal h4 {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.modal a {
  color: #fff;
}
/* Scrollbar bugfix */
body.modal-open, .modal-open .navbar-fixed-top {
  margin-right: 0;
}

@media (max-width: 767px) {
  .modal {
    overflow-y: hidden;
  }
}  

.section {
  position: relative;
  min-height: 100%;
  z-index: 1;
  padding-top: 105px;
  background-color: #ffd03c;
  transition: background-color 1s;
  -webkit-transition: background-color 1s; 
}

.section.divider {
  min-height: 2%;
  max-height: 2%;
}
  
.section.white {
  background: none;
  background-color: #eee;
}

.section.white h1 {
  color: #f4c532; 
}    

.section.white a.btn {
  color: #777;
  border-color: #666;
}

.section.white a.btn:hover {
  top: 0;
  color: #bbb;
  border-color: #bbb;
}

.section.white a.btn.active { 
  color: #dfba00;
  border-color: #edc80e;
  box-shadow: none; 
  background-color: transparent;
}
    
/* Image BG Section */
.section.image { }
.section.image h3 { color: rgba(255,255,255, .7); }
    
/* WELCOME SECTION */
.section.welcome {
  padding-top: 0;
}
.section.welcome .content {
  text-align: center;
}

.section.welcome a { color: rgba(255,255,255,.8); }
.section.welcome a:hover { color: #fff; }

img.background {
  width: auto;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -1;
}

.section h1 {
  display: block;
  text-align: center;
  font-size: 70px;
  color: #fff;
}

.welcome .scroll-down i {
  display: block;
  font-size: 40px;
  font-weight: normal;
  margin-top: 20px;
  color: rgba(255,255,255,.9);
}

.welcome span.glyphicon {
  margin-top: 70px;
  color: rgba(255,255,255,.9);    
  font-size: 40px;
}

.welcome span.logo.glyphicon {
  border: 3px solid rgba(255,255,255,.9);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  padding-top: 15px;
  margin: 14% 0 30px 0;
  font-size: 60px;
}

.section:last-child {
  background-color: #fff;
}

.section .content.affix {
  width: 90%;
}

/* Full width container, for carousel */
.fixed-container.full .content.affix {
  width: 100%;
}

@media (max-width: 420px) {
  img.background {
    height: 100%;
  }
  .section {
    height: auto;
    padding-top: 70px;
  } 
  .section h1 {
    font-size: 30px;
    margin: 18px 0 35px 0;
  }
  .section.welcome { height: 100%; }
  span.logo.glyphicon {
    border-radius: 30px !important; 
    -webkit-border-radius: 30px !important; 
    -moz-border-radius: 30px !important; 
    font-size: 30px !important;
    display: block;
    height: 50px !important;
    margin: 0 auto !important;
    padding-top: 7px !important;
    width: 50px !important;
  }
}

@media (max-width: 767px) {
  .section .content {
    text-align: center;
  }
  .section.welcome { 
    overflow: hidden;
    height: auto;
  }
  img.background {
    background-attachment: scroll;
    position: absolute;
  }
}    
    
#services {
color: #444;
min-height: 0;
padding-bottom: 20px;
position: relative;
overflow: hidden;
background-color: #000;
} 

#services .background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=.4)";
  filter: alpha(opacity=.4);
  opacity: .4;
  -webkit-filter: grayscale(100%);

  background: url("/img/servers.jpg") fixed no-repeat;
  background-size: cover;
}
#services .service-icon {
  text-align: center;
  color: #fff;
}

#services .service-icon i:hover  {
  background-color: #edc80e;
  color: #fff;
}

#services .service-icon i {
  margin: 0 auto;
  color: rgba(255,255,255,.7);
  display: inline-block;
  font-size: 40px;
  display: block;
  height: 100px;
  width: 100px;
  padding-top: 25px;

  border: 4px solid rgba(237,200,14,.7);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  
  -webkit-transition: background-color .3s;
  transition: background-color .3s;   
}

#services .service-icon span {
  display: block;
  margin-top: 20px;
}
    
@media (max-width: 420px) {
  #services {
    background-attachment: scroll;
  }
}      

.social-media {
  margin-bottom: 20px;
  color: #fff;
  width: 100%;
  text-align: center;
}

.social-media a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 20px;
  margin: 0 5px;
  padding-top: 4px;
  color: rgba(255,255,255,.7);
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,.5);   
  
  -webkit-transition: .3s;
  transition: .3s;      
}
.social-media a:hover {
  color: #fff;
  border-color: #fff;
}



/*  CONTACT
 *    stylings for contact
 *    Basic form styles at the beginning of css file
 *
 */  

.contact {
  
}
  .contact h3 {
    margin-top: 0;
  }
  .contact p {
    color: #666;
  }
  .contact span.glyphicon {
    color: #444;
    margin-right: 10px;
  }
  .contact .btn {
    width: 100%;
  }
  



/*  FOOTER
 *    stylings for footer
 *    
 *
 */
 
.footer {
  padding-top: 50px;
  color: #eee;
  overflow: hidden;
  position: relative;
  background-color: #333;
  z-index: 1;
}
.footer h3 {
  margin-top: 10px;
  line-height: 20px;
  font-size: 20px;
}
.footer li {
  float: left;
  clear: both;
  list-style: none;
  line-height: 25px;
  margin-bottom: 5px;
}
.footer li a { color: #fff; }
.footer li a:hover { color: #ffde36; }

.footer p {
  line-height: 25px;
}
.footer .social-media {
  text-align: left;
}
  .footer .social-media a {
    margin: 0 10px 10px 0;
    text-align: center;
  }

.footer hr {
  border-color: #999;
  margin: 0 auto;
}

.copyright {
  margin: 30px 0;
  width: 100%;
  text-align: center;
}

