extends ../includes/layout

block content  
  #home.section.welcome
    img.background(src='/img/bg-blur.jpg')
    .container
      .content
        h1
          span.logo.glyphicon.glyphicon-fire 
          |  Infernal Engineering

  .section.divider

  #services.section.image
    .background.parallax
    .fixed-container
      .content.services
        h1 Services
        .row
          .empty.col-md-2.col-sm-3.col-xs-12
          .col-md-8.col-sm-6.col-xs-12
            h3
              | We offer services that range from custom application development to building the systems and architecture to carry your application into Enterprise quality performance. Need something built?  Drop us a line.
          .empty.col-md-2.col-sm-3.col-xs-12
        .row
          .col-md-3.col-sm-3.col-xs-6
            .service-icon
              i.fa.fa-sitemap(data-toggle='tooltip', title='Professional application architecture and design.')
              span ARCHITECTURE
          .col-md-3.col-sm-3.col-xs-6
            .service-icon
              i.fa.fa-code(data-toggle='tooltip', title='Need some custom application built?  No problem.')
              span CODING
          .col-md-3.col-sm-3.col-xs-6
            .service-icon
              i.fa.fa-cogs(data-toggle='tooltip', title='We can teach your servers to build themselves.')
              span AUTOMATION
          .col-md-3.col-sm-3.col-xs-6
            .service-icon
              i.fa.fa-dashboard(data-toggle='tooltip', title='Enterprise level systems engineering.  Yes, we scale to 11.')
              span SYSTEMS

  .section.divider.white

  .footer
    .fixed-container
      .row
        .empty.col-md-2.col-sm-2.col-xs-12
        .col-md-3.col-sm-3.col-xs-12
          h3 links
          ul
            li
              a(href='#') Contact
          .clearfix
        .col-md-5.col-sm-5.col-xs-12
          h3 about us
          p
            | We are an experienced solutions engineering team ready to build you things. 
          .social-media
            a(href='https://github.com/infernalcode', data-toggle='tooltip', title='github')
              i.fa.fa-github-alt
        .empty.col-md-2.col-sm-2.col-xs-12
      .row
        .empty.col-md-2.col-sm-2.col-xs-12
        .empty.col-md-8.col-sm-8.col-xs-12
          hr
        .empty.col-md-2.col-sm-2.col-xs-12
    p.copyright
      | © 
      a(href='http://infern.al') Infernal Engineering
