extends ../includes/layout

block content  
  #home.section.welcome
    img.background(src='img/stream_blur2.jpg')
    .container
      .content
        h1
          span.logo.glyphicon.glyphicon-fire 
          |  Infernal Engineering
